<div *ngIf="gun$ | async as gun" class="">
  <div class="w-100 d-flex flex-column align-items-center">
    <div class="w-50 d-flex justify-content-between">
      <h1>{{ gun.name }}</h1>
      <h1>{{ gun.price.$numberDecimal | currency }}</h1>
    </div>
    <div class="w-50 d-flex justify-content-start mt-2">
      <p class="m-0">Contact: {{ gun.owner_Id.first }}</p>
      <p class="mx-2 my-0">|</p>
      <p class="m-0">
        {{ gun.phone ? formatPhone(gun.phone) : formatPhone("3852514954") }}
      </p>
      <p class="mx-2 my-0">|</p>
      <p class="m-0">
        {{ gun.owner_Id.id }}
      </p>
    </div>
    <div class="w-50 d-flex justify-content-start mt-0 mb-5">
      <p class="">{{ gun.location.city }}, {{ gun.location.state }}</p>
      <p class="mx-2">|</p>
      <p class="">{{ gun.dateAdded | date }}</p>
    </div>
    <img [src]="gun.picture" />
    <div class="w-50 d-flex flex-column align-items-left mt-5">
      <!-- <h3>{{ gun.location.city }}, {{ gun.location.state }}</h3> -->
      <!-- <h3>Contact: {{ gun.owner_Id.first }}</h3> -->
      <!-- <h3>Date Listed: {{ gun.dateAdded | date }}</h3> -->
    </div>
    <div class="w-50 d-flex flex-column align-items-left">
      <h3 class="bold">Description</h3>
      <p class="">{{ gun.description }}</p>
    </div>
  </div>
</div>
