@import "src/brand-colors.scss";

img {
  width: 100px;
}

.listings-table {
  max-height: 460px;
  overflow-y: scroll;
  border-left: 1px solid $light-gray;
}

button:disabled,
button:disabled:hover {
  background: $primary-color;
  border: none;
  color: black;
  border: 1px solid black;
}

.input-containers {
  width: 40%;
}

.ta {
  width: 94%;
  min-height: 200px;
}
