/* You can add global styles to this file, and also import other style files */
@import "src/brand-colors.scss";
@import "~bootstrap/scss/bootstrap.scss";

a:hover {
  cursor: pointer;
  text-decoration: none;
}
a.link {
  color: $link-color;
}
p {
  font-size: 1.5rem;
}

.gray-back {
  background: $gray-back;
}

.round-edges {
  border-radius: 7px;
}

.form-control-div {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 5px 15px;
  border-radius: 7px;
}

.btn-primary {
  background: $primary-color;
  color: black;
  border: 1px solid black;
  padding: 0.3rem 2.5rem;
}
.btn-primary:hover {
  background: $gray-back;
  border: 1px solid black;
  color: black;
}
.btn-primary:active {
  background: $primary-color;
  border: 1px solid black;
  color: black;
}
.title {
  font-size: 3.5rem;
}
