/* You can add global styles to this file, and also import other style files */
@import "src/brand-colors.scss";
@import "~bootstrap/scss/bootstrap.scss";

* {
  font-size: 1.5rem;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
a.link {
  font-size: 1.5rem;
  color: $link-color;
}
p {
  font-size: 1.5rem;
}

.gray-back {
  background: $gray-back;
}

.round-edges {
  border-radius: 7px;
}

.form-control-div {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 1.5rem;
}

.btn-primary {
  background: $primary-color;
  color: black;
  border: 1px solid black;
  padding: 0.3rem 2.5rem;
}
.btn-primary:hover {
  background: $gray-back;
  border: 1px solid black;
  color: black;
}
.btn-primary:active {
  background: $primary-color;
  border: 1px solid black;
  color: black;
}
.title {
  font-size: 3.5rem;
}
.form-control {
  margin-left: 10px;
}
.title {
  border-bottom: 2px solid black;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
*[routerLink] {
  cursor: pointer;
}
