<div class="d-flex flex-column align-items-center">
  <div>
    <h2>Wecome to Arm In Arm! Please log-in or create an account.</h2>
  </div>
  <div id="formDiv" class="w-25 p-5 mt-3 d-flex justify-content-center">
    <form [formGroup]="loginForm">
      <div class="form-control-div">
        <label maxlength="50">Email:</label>
        <input type="text" formControlName="email" />
      </div>
      <div class="form-control-div mt-3">
        <label>Password:</label>
        <input maxlength="50" type="password" formControlName="email" />
      </div>
      <button
        [disabled]="loginForm.valid"
        (click)="login()"
        class="mt-3 btn btn-primary"
      >
        Login
      </button>
    </form>
  </div>
  <div class="w-50 d-flex justify-content-center mt-3">
    <a class="link mr-5">Create A Profile</a>
    <a class="link">Forgot Username/Email</a>
  </div>
</div>
