<div class="d-flex align-items-center full-height w-100 justify-content-center">
  <div id="login-box" class="d-flex flex-column align-items-center p-5">
    <div class="d-flex flex-column align-items-center">
      <h1 class="title m-0">Wecome to Arm In Arm!</h1>
      <img class="my-5" src="/assets/AIA-logo.png" />
      <h3 class="m-0">Please log-in or create an account.</h3>
    </div>
    <button (click)="login()" class="btn btn-primary mt-3">
      Login
    </button>
    <!-- <div id="formDiv" class="w-25 p-5 mt-3 d-flex justify-content-center">
      <form [formGroup]="loginForm">
        <div class="form-control-div">
          <label maxlength="50">Email:</label>
          <input type="text" formControlName="email" />
        </div>
        <div class="form-control-div mt-3">
          <label>Password:</label>
          <input maxlength="50" type="password" formControlName="email" />
        </div>
      </form>
    </div>
    <div class="w-50 d-flex justify-content-center mt-3">
      <a class="link mr-5">Create A Profile</a>
      <a class="link">Forgot Username/Email</a>
    </div> -->
  </div>
</div>
