<nav class="navbar navbar-default navbar-expand-lg py-5 gray-back">
  <div class="container-fluid p-0">
    <div
      id="nav-container"
      class="d-flex align-items-center justify-content-between w-100"
    >
      <h3 class="m-0 ml-5 p-0">
        <a class="nabvar-brand" href="/">Blake Lamb</a>
      </h3>

      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div
      *ngIf="isLoggedIn"
      class="collapse navbar-collapse w-75 p-0 mr-3"
      id="navbarResponsive"
    >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/search']">Guns</a>

      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/listings']"
        >My Listings</a
      >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/likes']"
        >Liked Guns</a
      >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/profile']">Profile</a>
      <a [routerLink]="" class="nav-link ml-3" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
