<nav class="navbar navbar-default navbar-expand-lg p-5 gray-back">
  <div class="container-fluid p-0 w-100">
    <div
      id="nav-container"
      class="d-flex align-items-center justify-content-between w-50"
    >
      <h1 class="m-0 ml-0 p-0 w-75 d-flex justify-content-start">
        <a class="nabvar-brand">Arm in Arm </a>
      </h1>
      <button
        class="navbar-toggler navbar-toggler-right m-0 p-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div
      class="collapse navbar-collapse p-0 mr-0 d-flex justify-content-end"
      id="navbarResponsive"
    >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/search']">Guns</a>

      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/listings']"
        >My Listings</a
      >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/guns/likes']"
        >Liked Guns</a
      >
      <a class="mr-3 nav-link ml-3" [routerLink]="['/profile']">Profile</a>
      <a
        *ngIf="isLoggedIn"
        [routerLink]=""
        class="nav-link ml-3"
        (click)="logout()"
        >Logout</a
      >
    </div>
    <!-- <img class="logo" src="/assets/gunLogo.png" /> -->
  </div>
</nav>
